In this project, I aim to extract historical stock price data from the internet, specifically focusing on the S&P 500 (Standard & Poor's 500) using Python. The methodology employed for this task involves leveraging the yfinance library, a powerful tool for fetching financial data. The S&P 500, a renowned stock market index, serves as the primary source, monitoring and reflecting the performance of 500 major publicly traded companies in the United States. Recognized globally, it holds a prominent status as one of the most extensively observed and closely monitored equity indices. Due to its comprehensive representation of diverse sectors, the S&P 500 is considered a reliable gauge, offering insights into the overall health and dynamics of the American economy. Throughout this project, the objective is to effectively retrieve and analyze S&P historic stock price data, contributing to a comprehensive understanding of market trends and economic indicators.

The main objective of this project is to extract the Adjusted Closing price, denoted as "Adj Close," for all the companies listed here using with their respective ticker symbol and exporting the data in to  Csv file for further analysis.

In [1]:
# Install the yfinance library 
! pip install yfinance

Requirement already satisfied: yfinance in c:\users\user\anaconda3\lib\site-packages (0.2.36)
Requirement already satisfied: pandas>=1.3.0 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.0.3)
Requirement already satisfied: numpy>=1.16.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.24.3)
Requirement already satisfied: requests>=2.31 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.31.0)
Requirement already satisfied: multitasking>=0.0.7 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (0.0.11)
Requirement already satisfied: lxml>=4.9.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.9.3)
Requirement already satisfied: appdirs>=1.4.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.4.4)
Requirement already satisfied: pytz>=2022.5 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2023.3.post1)
Requirement already satisfied: frozendict>=2.3.4 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (2.4.0)
Requirement already satisfied: peewee>=3.16.2 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (3.17.1)
Requirement already satisfied: beautifulsoup4>=4.11.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (4.12.2)
Requirement already satisfied: html5lib>=1.1 in c:\users\user\anaconda3\lib\site-packages (from yfinance) (1.1)
Requirement already satisfied: soupsieve>1.2 in c:\users\user\anaconda3\lib\site-packages (from beautifulsoup4>=4.11.1->yfinance) (2.4)
Requirement already satisfied: six>=1.9 in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (1.16.0)
Requirement already satisfied: webencodings in c:\users\user\anaconda3\lib\site-packages (from html5lib>=1.1->yfinance) (0.5.1)
Requirement already satisfied: python-dateutil>=2.8.2 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2.8.2)
Requirement already satisfied: tzdata>=2022.1 in c:\users\user\anaconda3\lib\site-packages (from pandas>=1.3.0->yfinance) (2023.3)
Requirement already satisfied: charset-normalizer<4,>=2 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2.0.4)
Requirement already satisfied: idna<4,>=2.5 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (3.4)
Requirement already satisfied: urllib3<3,>=1.21.1 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (1.26.16)
Requirement already satisfied: certifi>=2017.4.17 in c:\users\user\anaconda3\lib\site-packages (from requests>=2.31->yfinance) (2023.11.17)

In [2]:
# Importing the Libraries required for the project
import pandas as pd
import yfinance as yf

Retrieve the initial S&P table from Wikipedia, which serves as an excellent source for data scraping. The Wikipedia project's open-source nature eliminates many restrictions present on other websites, making it an ideal platform for extracting information. my goal is to acquire the most up-to-date roster of companies in the S&P, including their respective tickers, by leveraging the wealth of data available on Wikipedia.

In [3]:
# Geting the page from wikipedia and assign it to the ulr 
url = 'https://en.wikipedia.org/wiki/List_of_S%26P_500_companies'

# read url to pandas dataframe  "data"
data = pd.read_html(url)

In [4]:
data

[    Symbol              Security             GICS Sector  \
 0      MMM                    3M             Industrials
 1      AOS           A. O. Smith             Industrials
 2      ABT                Abbott             Health Care
 3     ABBV                AbbVie             Health Care
 4      ACN             Accenture  Information Technology
 ..     ...                   ...                     ...
 498    YUM           Yum! Brands  Consumer Discretionary
 499   ZBRA    Zebra Technologies  Information Technology
 500    ZBH         Zimmer Biomet             Health Care
 501   ZION  Zions Bancorporation              Financials
 502    ZTS                Zoetis             Health Care

                       GICS Sub-Industry    Headquarters Location  Date added  \
 0              Industrial Conglomerates    Saint Paul, Minnesota  1957-03-04
 1                     Building Products     Milwaukee, Wisconsin  2017-07-26
 2                 Health Care Equipment  North Chicago, Illinois  1957-03-04
 3                         Biotechnology  North Chicago, Illinois  2012-12-31
 4        IT Consulting & Other Services          Dublin, Ireland  2011-07-06
 ..                                  ...                      ...         ...
 498                         Restaurants     Louisville, Kentucky  1997-10-06
 499  Electronic Equipment & Instruments   Lincolnshire, Illinois  2019-12-23
 500               Health Care Equipment          Warsaw, Indiana  2001-08-07
 501                      Regional Banks     Salt Lake City, Utah  2001-06-22
 502                     Pharmaceuticals   Parsippany, New Jersey  2013-06-21

          CIK      Founded
 0      66740         1902
 1      91142         1916
 2       1800         1888
 3    1551152  2013 (1888)
 4    1467373         1989
 ..       ...          ...
 498  1041061         1997
 499   877212         1969
 500  1136869         1927
 501   109380         1873
 502  1555280         1952

 [503 rows x 8 columns],
                   Date  Added                                Removed  \
                   Date Ticker                       Security  Ticker
 0    December 18, 2023   UBER                           Uber     SEE
 1    December 18, 2023    JBL                          Jabil     ALK
 2    December 18, 2023   BLDR           Builders FirstSource    SEDG
 3     October 18, 2023   HUBB                        Hubbell     OGN
 4     October 18, 2023   LULU            Lululemon Athletica    ATVI
 ..                 ...    ...                            ...     ...
 333       June 9, 1999    WLP                      Wellpoint     HPH
 334  December 11, 1998    FSR                        Firstar     LDW
 335  December 11, 1998    CCL                 Carnival Corp.     GRN
 336  December 11, 1998   CPWR                      Compuware     SUN
 337      June 17, 1997    CCI  Countrywide Credit Industries     USL

                                \
                      Security
 0                  Sealed Air
 1            Alaska Air Group
 2                   SolarEdge
 3               Organon & Co.
 4         Activision Blizzard
 ..                        ...
 333  Harnischfeger Industries
 334                     Amoco
 335                General Re
 336                SunAmerica
 337                    USLife

                                                 Reason
                                                 Reason
 0                     Market capitalization change.[4]
 1                     Market capitalization change.[4]
 2                     Market capitalization change.[4]
 3                     Market capitalization change.[5]
 4    S&P 500 and S&P 100 constituent Microsoft acqu...
 ..                                                 ...
 333           Harnischfeger filed for bankruptcy.[252]
 334                           BP purchased Amoco.[253]
 335      Berkshire Hathaway purchased General Re.[253]
 336                     AIG purchased SunAmerica.[253]
 337                          AIG acquired USLife.[254]

 [338 rows x 6 columns]]

In [5]:
# Checking the number of tables that are returned
len(data)

2

In [6]:
# Usng the index "0" to filter the 1st table.
data[0]

,Symbol,Security,GICS Sector,GICS Sub-Industry,Headquarters Location,Date added,CIK,Founded
0,MMM,3M,Industrials,Industrial Conglomerates,"Saint Paul, Minnesota",1957-03-04,66740,1902
1,AOS,A. O. Smith,Industrials,Building Products,"Milwaukee, Wisconsin",2017-07-26,91142,1916
2,ABT,Abbott,Health Care,Health Care Equipment,"North Chicago, Illinois",1957-03-04,1800,1888
3,ABBV,AbbVie,Health Care,Biotechnology,"North Chicago, Illinois",2012-12-31,1551152,2013 (1888)
4,ACN,Accenture,Information Technology,IT Consulting & Other Services,"Dublin, Ireland",2011-07-06,1467373,1989
...,...,...,...,...,...,...,...,...
498,YUM,Yum! Brands,Consumer Discretionary,Restaurants,"Louisville, Kentucky",1997-10-06,1041061,1997
499,ZBRA,Zebra Technologies,Information Technology,Electronic Equipment & Instruments,"Lincolnshire, Illinois",2019-12-23,877212,1969
500,ZBH,Zimmer Biomet,Health Care,Health Care Equipment,"Warsaw, Indiana",2001-08-07,1136869,1927
501,ZION,Zions Bancorporation,Financials,Regional Banks,"Salt Lake City, Utah",2001-06-22,109380,1873
502,ZTS,Zoetis,Health Care,Pharmaceuticals,"Parsippany, New Jersey",2013-06-21,1555280,1952

In [7]:
# Usng the index "1" to filter the 2nd table.
data[1]

                  Date  Added                                Removed  \
                  Date Ticker                       Security  Ticker
0    December 18, 2023   UBER                           Uber     SEE
1    December 18, 2023    JBL                          Jabil     ALK
2    December 18, 2023   BLDR           Builders FirstSource    SEDG
3     October 18, 2023   HUBB                        Hubbell     OGN
4     October 18, 2023   LULU            Lululemon Athletica    ATVI
..                 ...    ...                            ...     ...
333       June 9, 1999    WLP                      Wellpoint     HPH
334  December 11, 1998    FSR                        Firstar     LDW
335  December 11, 1998    CCL                 Carnival Corp.     GRN
336  December 11, 1998   CPWR                      Compuware     SUN
337      June 17, 1997    CCI  Countrywide Credit Industries     USL

                               \
                     Security
0                  Sealed Air
1            Alaska Air Group
2                   SolarEdge
3               Organon & Co.
4         Activision Blizzard
..                        ...
333  Harnischfeger Industries
334                     Amoco
335                General Re
336                SunAmerica
337                    USLife

                                                Reason
                                                Reason
0                     Market capitalization change.[4]
1                     Market capitalization change.[4]
2                     Market capitalization change.[4]
3                     Market capitalization change.[5]
4    S&P 500 and S&P 100 constituent Microsoft acqu...
..                                                 ...
333           Harnischfeger filed for bankruptcy.[252]
334                           BP purchased Amoco.[253]
335      Berkshire Hathaway purchased General Re.[253]
336                     AIG purchased SunAmerica.[253]
337                          AIG acquired USLife.[254]

[338 rows x 6 columns]

Retrieve Ticker Symbols
Ticker symbols serve as distinct identifiers for individual stocks. These symbols play a crucial role in pinpointing the specific stocks included in the S&P index, particularly when my goal is to obtain historical price data from Yahoo Finance. To accomplish this, I will compile a comprehensive list of ticker objects, allowing me to efficiently extract the relevant information. This process involves organizing the tickers in a manner that facilitates seamless retrieval of historical stock prices from the specified financial platform. The extraction will only be based on the first table

In [8]:
# Creating a list fronm the data  that contains all the ticker symbols in the S&P 500
tickers = data[0]["Symbol"].tolist()
tickers

['MMM',
 'AOS',
 'ABT',
 'ABBV',
 'ACN',
 'ADBE',
 'AMD',
 'AES',
 'AFL',
 'A',
 'APD',
 'ABNB',
 'AKAM',
 'ALB',
 'ARE',
 'ALGN',
 'ALLE',
 'LNT',
 'ALL',
 'GOOGL',
 'GOOG',
 'MO',
 'AMZN',
 'AMCR',
 'AEE',
 'AAL',
 'AEP',
 'AXP',
 'AIG',
 'AMT',
 'AWK',
 'AMP',
 'AME',
 'AMGN',
 'APH',
 'ADI',
 'ANSS',
 'AON',
 'APA',
 'AAPL',
 'AMAT',
 'APTV',
 'ACGL',
 'ADM',
 'ANET',
 'AJG',
 'AIZ',
 'T',
 'ATO',
 'ADSK',
 'ADP',
 'AZO',
 'AVB',
 'AVY',
 'AXON',
 'BKR',
 'BALL',
 'BAC',
 'BK',
 'BBWI',
 'BAX',
 'BDX',
 'BRK.B',
 'BBY',
 'BIO',
 'TECH',
 'BIIB',
 'BLK',
 'BX',
 'BA',
 'BKNG',
 'BWA',
 'BXP',
 'BSX',
 'BMY',
 'AVGO',
 'BR',
 'BRO',
 'BF.B',
 'BLDR',
 'BG',
 'CDNS',
 'CZR',
 'CPT',
 'CPB',
 'COF',
 'CAH',
 'KMX',
 'CCL',
 'CARR',
 'CTLT',
 'CAT',
 'CBOE',
 'CBRE',
 'CDW',
 'CE',
 'COR',
 'CNC',
 'CNP',
 'CF',
 'CHRW',
 'CRL',
 'SCHW',
 'CHTR',
 'CVX',
 'CMG',
 'CB',
 'CHD',
 'CI',
 'CINF',
 'CTAS',
 'CSCO',
 'C',
 'CFG',
 'CLX',
 'CME',
 'CMS',
 'KO',
 'CTSH',
 'CL',
 'CMCSA',
 'CMA',
 'CAG',
 'COP',
 'ED',
 'STZ',
 'CEG',
 'COO',
 'CPRT',
 'GLW',
 'CTVA',
 'CSGP',
 'COST',
 'CTRA',
 'CCI',
 'CSX',
 'CMI',
 'CVS',
 'DHR',
 'DRI',
 'DVA',
 'DAY',
 'DE',
 'DAL',
 'XRAY',
 'DVN',
 'DXCM',
 'FANG',
 'DLR',
 'DFS',
 'DG',
 'DLTR',
 'D',
 'DPZ',
 'DOV',
 'DOW',
 'DHI',
 'DTE',
 'DUK',
 'DD',
 'EMN',
 'ETN',
 'EBAY',
 'ECL',
 'EIX',
 'EW',
 'EA',
 'ELV',
 'LLY',
 'EMR',
 'ENPH',
 'ETR',
 'EOG',
 'EPAM',
 'EQT',
 'EFX',
 'EQIX',
 'EQR',
 'ESS',
 'EL',
 'ETSY',
 'EG',
 'EVRG',
 'ES',
 'EXC',
 'EXPE',
 'EXPD',
 'EXR',
 'XOM',
 'FFIV',
 'FDS',
 'FICO',
 'FAST',
 'FRT',
 'FDX',
 'FIS',
 'FITB',
 'FSLR',
 'FE',
 'FI',
 'FLT',
 'FMC',
 'F',
 'FTNT',
 'FTV',
 'FOXA',
 'FOX',
 'BEN',
 'FCX',
 'GRMN',
 'IT',
 'GEHC',
 'GEN',
 'GNRC',
 'GD',
 'GE',
 'GIS',
 'GM',
 'GPC',
 'GILD',
 'GPN',
 'GL',
 'GS',
 'HAL',
 'HIG',
 'HAS',
 'HCA',
 'PEAK',
 'HSIC',
 'HSY',
 'HES',
 'HPE',
 'HLT',
 'HOLX',
 'HD',
 'HON',
 'HRL',
 'HST',
 'HWM',
 'HPQ',
 'HUBB',
 'HUM',
 'HBAN',
 'HII',
 'IBM',
 'IEX',
 'IDXX',
 'ITW',
 'ILMN',
 'INCY',
 'IR',
 'PODD',
 'INTC',
 'ICE',
 'IFF',
 'IP',
 'IPG',
 'INTU',
 'ISRG',
 'IVZ',
 'INVH',
 'IQV',
 'IRM',
 'JBHT',
 'JBL',
 'JKHY',
 'J',
 'JNJ',
 'JCI',
 'JPM',
 'JNPR',
 'K',
 'KVUE',
 'KDP',
 'KEY',
 'KEYS',
 'KMB',
 'KIM',
 'KMI',
 'KLAC',
 'KHC',
 'KR',
 'LHX',
 'LH',
 'LRCX',
 'LW',
 'LVS',
 'LDOS',
 'LEN',
 'LIN',
 'LYV',
 'LKQ',
 'LMT',
 'L',
 'LOW',
 'LULU',
 'LYB',
 'MTB',
 'MRO',
 'MPC',
 'MKTX',
 'MAR',
 'MMC',
 'MLM',
 'MAS',
 'MA',
 'MTCH',
 'MKC',
 'MCD',
 'MCK',
 'MDT',
 'MRK',
 'META',
 'MET',
 'MTD',
 'MGM',
 'MCHP',
 'MU',
 'MSFT',
 'MAA',
 'MRNA',
 'MHK',
 'MOH',
 'TAP',
 'MDLZ',
 'MPWR',
 'MNST',
 'MCO',
 'MS',
 'MOS',
 'MSI',
 'MSCI',
 'NDAQ',
 'NTAP',
 'NFLX',
 'NEM',
 'NWSA',
 'NWS',
 'NEE',
 'NKE',
 'NI',
 'NDSN',
 'NSC',
 'NTRS',
 'NOC',
 'NCLH',
 'NRG',
 'NUE',
 'NVDA',
 'NVR',
 'NXPI',
 'ORLY',
 'OXY',
 'ODFL',
 'OMC',
 'ON',
 'OKE',
 'ORCL',
 'OTIS',
 'PCAR',
 'PKG',
 'PANW',
 'PARA',
 'PH',
 'PAYX',
 'PAYC',
 'PYPL',
 'PNR',
 'PEP',
 'PFE',
 'PCG',
 'PM',
 'PSX',
 'PNW',
 'PXD',
 'PNC',
 'POOL',
 'PPG',
 'PPL',
 'PFG',
 'PG',
 'PGR',
 'PLD',
 'PRU',
 'PEG',
 'PTC',
 'PSA',
 'PHM',
 'QRVO',
 'PWR',
 'QCOM',
 'DGX',
 'RL',
 'RJF',
 'RTX',
 'O',
 'REG',
 'REGN',
 'RF',
 'RSG',
 'RMD',
 'RVTY',
 'RHI',
 'ROK',
 'ROL',
 'ROP',
 'ROST',
 'RCL',
 'SPGI',
 'CRM',
 'SBAC',
 'SLB',
 'STX',
 'SRE',
 'NOW',
 'SHW',
 'SPG',
 'SWKS',
 'SJM',
 'SNA',
 'SO',
 'LUV',
 'SWK',
 'SBUX',
 'STT',
 'STLD',
 'STE',
 'SYK',
 'SYF',
 'SNPS',
 'SYY',
 'TMUS',
 'TROW',
 'TTWO',
 'TPR',
 'TRGP',
 'TGT',
 'TEL',
 'TDY',
 'TFX',
 'TER',
 'TSLA',
 'TXN',
 'TXT',
 'TMO',
 'TJX',
 'TSCO',
 'TT',
 'TDG',
 'TRV',
 'TRMB',
 'TFC',
 'TYL',
 'TSN',
 'USB',
 'UBER',
 'UDR',
 'ULTA',
 'UNP',
 'UAL',
 'UPS',
 'URI',
 'UNH',
 'UHS',
 'VLO',
 'VTR',
 'VLTO',
 'VRSN',
 'VRSK',
 'VZ',
 'VRTX',
 'VFC',
 'VTRS',
 'VICI',
 'V',
 'VMC',
 'WRB',
 'WAB',
 'WBA',
 'WMT',
 'DIS',
 'WBD',
 'WM',
 'WAT',
 'WEC',
 'WFC',
 'WELL',
 'WST',
 'WDC',
 'WRK',
 'WY',
 'WHR',
 'WMB',
 'WTW',
 'GWW',
 'WYNN',
 'XEL',
 'XYL',
 'YUM',
 'ZBRA',
 'ZBH',
 'ZION',
 'ZTS']

In [9]:
# Checking the len of the ticker list to confirm that it is at least 500 objects long
len(tickers)

503

## Downloading Data Using the Yfinance Library.

To retrieve data from Yahoo Finance using the yfinance library, I will initiate the download process by invoking the library and specifying the required parameters that define the dataset i intend to fetch. For this excercise, I will focus on obtaining data related to Tesla identified by its ticker symbol TSLA. In this particular instance, the data retrieval period will be set to commence from June 14, 2022, and conclude on June 18, 2022.

In [10]:
# Download data from yahoo finance using the yf library
yf.download ("TSLA", start = "2022-6-14", end = "2022-6-18" )

[*********************100%%**********************]  1 of 1 completed

,Open,High,Low,Close,Adj Close,Volume
Date,,,,,,
2022-06-14,218.286667,226.330002,211.736664,220.889999,220.889999,97988700
2022-06-15,220.916672,235.663330,218.149994,233.000000,233.000000,119131800
2022-06-16,222.736664,225.166672,208.693329,213.100006,213.100006,107390700
2022-06-17,213.433334,220.970001,213.196671,216.759995,216.759995,92641800



The extracted data pertains to comprehensive stock information for TSLA, encompassing various parameters such as the opening price, highest price, lowest price, closing price, and Adjusted Closing price, all organized in a table. However, given the specific focus of this project, I find that the wealth of information provided exceeds my current needs. My primary interest lies in tracking the Adjusted Closing price, as it serves as a key metric for understanding the longitudinal movement of stock prices over an extended period. Therefore, for the broader dataset required, I will exclusively extract the Adjusted Closing price, denoted as "Adj Close," for all the companies listed here using with their respective ticker symbol streamlining my data collection to align with the project's objectives.

In [11]:
# pulling the adjusted closing price data for all of the stocks, using the ticker list for 2 days and assign the it to adj_prices
adj_prices = yf.download (tickers, start = "2022-6-14", end = "2022-6-18" )["Adj Close"]

[*********************100%%**********************]  503 of 503 completed

5 Failed downloads:
['VLTO', 'GEHC', 'KVUE']: Exception("%ticker%: Data doesn't exist for startDate = 1655179200, endDate = 1655524800")
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-6-14 -> 2022-6-18)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

FAILED DOWNLOAD

5 Failed downloads:
['VLTO', 'GEHC', 'KVUE']: Exception("%ticker%: Data doesn't exist for startDate = 1655179200, endDate = 1655524800")
['BF.B']: Exception('%ticker%: No price data found, symbol may be delisted (1d 2022-6-14 -> 2022-6-18)')
['BRK.B']: Exception('%ticker%: No timezone found, symbol may be delisted')

In [12]:
adj_prices

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2022-06-14,114.599976,12.95,131.452835,128.502655,98.870003,99.521851,44.549999,267.685211,370.820007,143.091003,...,57.422058,62.855083,90.457390,34.638973,74.851028,106.641464,103.794312,300.739990,48.103584,155.403702
2022-06-15,115.054390,13.31,134.096573,128.941513,101.470001,101.320091,43.990002,273.591187,376.920013,145.920334,...,58.738579,62.826458,89.318451,34.415112,74.802109,108.257095,105.470497,308.359985,49.310356,155.669601
2022-06-16,113.562752,12.16,128.779434,129.931290,93.260002,98.680733,42.230000,263.579224,365.079987,139.483841,...,53.937733,61.967777,86.023949,33.811684,71.494949,105.586945,101.792778,292.119995,47.982918,154.999924
2022-06-17,111.340073,12.94,130.264664,129.118927,99.489998,99.125458,43.400002,267.938171,360.790009,140.621399,...,54.402973,60.975533,81.063393,34.385921,71.338402,105.935226,101.211052,288.459991,48.512035,156.418076

In [13]:
# Using the isna method to confirm that the failed stocks are indeed without data
adj_prices.isna().any()

Ticker
A       False
AAL     False
AAPL    False
ABBV    False
ABNB    False
        ...
YUM     False
ZBH     False
ZBRA    False
ZION    False
ZTS     False
Length: 503, dtype: bool

In [14]:
# Filtering for the stocks that have null values
adj_prices.loc[:, adj_prices.isna().any()]

Ticker      BF.B  BRK.B  GEHC  KVUE  VLTO
Date
2022-06-14   NaN    NaN   NaN   NaN   NaN
2022-06-15   NaN    NaN   NaN   NaN   NaN
2022-06-16   NaN    NaN   NaN   NaN   NaN
2022-06-17   NaN    NaN   NaN   NaN   NaN

Downloading information may be unsuccessful for various reasons. In this case, the attempt to retrieve data for the first stock, represented by the ticker GEHC, failed because there was no available information for the specified time. Additionally, the second and third stocks, represented by the tickers BRK.B and BF.B, were unable to be downloaded due to discrepancies in the ticker symbols.

Upon investigation, I discovered that the stocks had different ticker symbols in Wikipedia compared to the symbols recorded for the same stocks on Yahoo Finance. The disparity arose from the use of a full stop instead of a hyphen in the Wikipedia ticker symbols. This inconsistency prevented the proper mapping of the tickers on the list to their corresponding stocks.

To address this issue, I need to update the ticker list with the information from Yahoo Finance.

In [16]:
# Testing to confirm that  the ticker from yahoo finance works as it should
yf.download("BF-B")["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

Date
1980-03-17     0.196182
1980-03-18     0.196182
1980-03-19     0.198807
1980-03-20     0.199463
1980-03-21     0.196838
                ...
2024-02-16    57.869999
2024-02-20    58.509998
2024-02-21    58.570000
2024-02-22    57.820000
2024-02-23    57.490002
Name: Adj Close, Length: 11078, dtype: float64

In [17]:
yf.download("BRK-B")["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

Date
1996-05-09     23.200001
1996-05-10     24.000000
1996-05-13     23.900000
1996-05-14     23.600000
1996-05-15     23.200001
                 ...
2024-02-16    405.989990
2024-02-20    407.149994
2024-02-21    409.250000
2024-02-22    415.160004
2024-02-23    417.220001
Name: Adj Close, Length: 6995, dtype: float64

In [18]:
yf.download("GEHC")["Adj Close"]

[*********************100%%**********************]  1 of 1 completed

Date
2022-12-15    59.904152
2022-12-16    56.649361
2022-12-19    56.409740
2022-12-20    57.118603
2022-12-21    56.869003
                ...
2024-02-16    86.019997
2024-02-20    86.389999
2024-02-21    84.980003
2024-02-22    87.639999
2024-02-23    89.070000
Name: Adj Close, Length: 298, dtype: float64

It can be noted that the pricing data for GEHC is available only from December 15, 2022. However, my initial request encompasses a date range preceding this. As the required data is not present, I will be compelled to exclude that specific stock. Nevertheless, I will rectify any incorrect tickers in the list with the accurate ones to ensure the retrieval of data.

In [19]:
#This loop iterates through the tickers list and updates the tickers with the correct symbol
ticker_mapping = {'BRK.B': 'BRK-B', 'BF.B': 'BF-B'}

for i in range(len(tickers)):
    tickers[i] = ticker_mapping.get(tickers[i], tickers[i])

In [20]:
#Confirming to see that the correct tickers are in the tickers list
'BF-B' in tickers

True

In [21]:
'BRK-B' in tickers

True

In [22]:
#Confirming to see that the wrong tickers are off the tickers list
'BF.B' in tickers

False

In [23]:
'BRK.B' in tickers

False

In [24]:
# removing the GEHC stock from the list
tickers.remove("GEHC")

In [25]:
#Downloading the final stock data
adj_prices_new = yf.download (tickers, start = "2017-1-1", end = "2023-1-1" )["Adj Close"]

[*********************100%%**********************]  502 of 502 completed

2 Failed downloads:
['VLTO', 'KVUE']: Exception("%ticker%: Data doesn't exist for startDate = 1483246800, endDate = 1672549200")

In [26]:
adj_prices_new

Ticker,A,AAL,AAPL,ABBV,ABNB,ABT,ACGL,ACN,ADBE,ADI,...,WYNN,XEL,XOM,XRAY,XYL,YUM,ZBH,ZBRA,ZION,ZTS
Date,,,,,,,,,,,,,,,,,,,,,
2017-01-03,44.047394,44.741226,26.989264,45.449177,NaN,34.296661,28.629999,104.167412,103.480003,63.237148,...,80.211411,33.062614,64.500008,54.809013,45.438725,55.535847,95.016678,86.250000,35.140808,51.009773
2017-01-04,44.625340,45.127758,26.959059,46.090031,NaN,34.568928,28.833332,104.417885,104.139999,63.106316,...,82.797691,33.209106,63.790375,55.257797,46.115955,55.737926,95.890266,87.029999,35.645378,51.504742
2017-01-05,44.094769,44.345036,27.096159,46.439575,NaN,34.867538,28.540001,102.852585,105.910004,62.199318,...,83.861557,33.209106,62.839428,54.537868,45.694988,55.922428,96.506355,84.750000,35.067558,51.333424
2017-01-06,45.468594,44.654259,27.398228,46.454140,NaN,35.816082,28.823334,104.024323,108.300003,62.443527,...,84.769508,33.306793,62.803951,54.500465,45.374668,56.598938,96.515533,85.959999,35.295441,51.495228
2017-01-09,45.610699,45.494972,27.649181,46.759995,NaN,35.780952,28.406668,102.861542,108.570000,62.740040,...,85.062996,32.802139,61.767868,54.668758,45.182476,56.757088,98.391411,85.970001,34.912933,51.352451
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
2022-12-23,147.932892,12.710000,130.959961,155.283295,85.250000,105.548424,63.380001,260.975555,338.450012,160.778214,...,79.901894,68.115944,104.124252,31.219862,108.006187,125.889435,125.714478,248.220001,45.659222,144.115570
2022-12-27,148.250107,12.530000,129.142456,155.178558,83.489998,105.928925,63.619999,260.210541,335.089996,159.168869,...,83.475304,68.730553,105.570953,31.455259,108.980629,126.866066,126.299927,251.000000,46.026760,143.660736
2022-12-28,146.802811,12.320000,125.179680,154.454987,82.489998,105.206924,62.599998,258.062653,328.329987,157.284744,...,79.278267,68.235481,103.836815,30.386158,107.228592,126.289864,125.019859,246.839996,45.206875,142.207321
2022-12-29,149.776733,12.700000,128.725311,154.769165,85.230003,107.626602,63.110001,263.221527,337.579987,160.915604,...,80.436417,68.718948,104.622452,31.789503,109.886169,126.953972,126.845695,257.529999,46.252934,146.478577
2022-12-30,148.570496,12.720000,129.043121,153.864700,85.500000,107.119247,62.779999,261.711151,336.529999,160.964676,...,81.634155,67.790703,105.676338,31.356190,108.832985,125.088600,126.518242,256.410004,46.328323,144.896637

I now have a compiled dataset containing the adjusted closing prices of S&P 500 stocks from January 1, 2017, to January 1, 2023. The last step i will carry out involves exporting this data to a convenient .csv file for analysis, a task easily accomplished with the to_csv method.

In [27]:
adj_prices_new.to_csv('S&P_500_Historical_Price.csv', index=True)